<!DOCTYPE html>
<html lang="en">

<head>
  <!--External links-->
  <link rel="shortcut icon" type="image/png" href="/favicon/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Krub|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!--Navbar starts-->
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Contribute101 <i class="fas fa-code-branch"></i></a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light" href="https://rocktimsaikia.herokuapp.com/" target="_blank">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Github <i class="fab fa-github"></i></a>
      </li>
    </ul>
  </nav>
  <!--Navbar starts-->


  <!--Hero page starts-->
  <div class="hero">
    <div id="hero-page">
      <h2>Lets Dive Into Open Source Projects Starting Today.</h2>
      <p>This is my simple effort to get you familiar with the steps on how to get into contributing to OSP.</p>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/RocktimSaikia/reponame" data-icon="octicon-star" aria-label="Star RocktimSaikia/reponame on GitHub">Star
        this project</a>
    </div>
  </div>
  <!--Hero page starts-->

  <div class="container-fluid">
    <div class="row">

      <!--- Card starts -->

      <div class="col-sm-3">
        <div class="col-wrapper">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Rocktim Saikia</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-globe-asia"></i>India</h6>
              <div class="detail">
                <ul>
                  <p> 3 Techs you are learning :</p>
                  <li>Angular</li>
                  <li>Socket.io</li>
                  <li>Machine-learning</li>
                </ul>
              </div>
              <a href="https://github.com/RocktimSaikia" target="_blank" class="card-link"><i class="fab fa-github-alt"></i></a>
              <a href="https://twitter.com/RocktimSaikia10" target="_blank" class="card-link"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--** Card Ends **-->

     <!-- Card starts -->
      <div class="col-sm-3">
        <div class="col-wrapper">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Manash Bora</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-globe-asia"></i>India</h6>
              <div class="detail">
                <ul>
                  <p> 3 Techs you are learning :</p>
                  <li>Node</li>
                  <li>React</li>
                  <li>Sass</li>
                </ul>
              </div>
              <a href="https://github.com/devil-coder" target="_blank" class="card-link" alt=""><i class="fab fa-github-alt"></i></a>
              <a href="Twitter link here" target="_blank" class="card-link"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--** Card Ends **-->


      <!-- Use this card template to form your card. COPY the code below and PASTE it right Above this comment -->

      <!-- Card starts -->
      <div class="col-sm-3">
        <div class="col-wrapper">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Your Name Here</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-globe-asia"></i> Country</h6>
              <div class="detail">
                <ul>
                  <p> 3 Techs you are learning :</p>
                  <li>First One</li>
                  <li>Second One</li>
                  <li>Third One</li>
                </ul>
              </div>
              <a href="Github link here" target="_blank" class="card-link" alt=""><i class="fab fa-github-alt"></i></a>
              <a href="Twitter link here" target="_blank" class="card-link"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--** Card Ends **-->



    </div>
  </div>

  <!--Externel scripts [Dont change any code]-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
