:root {
  --lightgreen: #68e074;
  --darkgrey: #333333;
  --lightgrey: #c4c4c4;
  --darkgreen: #4ecf8a;
}

body {
  background: #f7fafc;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
}

p {
  margin: 0px;
}

#hero-page {
  font-family: 'Krub', sans-serif;
  text-align: center;
  color: #6e6969;
  padding: 2rem;
}
#hero-page > h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

#countdown > div {
  display: inline-block;
  width: 8%;
  background: #fff;
  padding: 10px 0px;
  margin-right: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
#countdown > div > span:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  color: #4f4f4f;
}

#countdown > div > span {
  color: #818181;
  font-weight: 600;
  font-size: 10px;
  display: block;
}

.cards-wrapper {
  display: table;
  margin: auto;
  margin-top: 3em;
}

.cards {
  position: relative;
  display: grid;
  list-style: none;
  grid-gap: 3vw;
  grid-template-columns: repeat(4, 20vw);
  font-family: 'Roboto';
}

.info_card {
  color: var(--darkgrey);
  width: 20vw;
  float: left;
  font-weight: 600;
  background: #fff;
  color: #333;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1.3vw;
  display: inherit;
}

.info_card img {
  width: 100%;
  height: 12vw;
  object-fit: cover;
  object-position: 100% 0%;
  border-radius: 0.6em;
}

.info_card h4 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1.3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5vw;
}

.info_card p.role {
  font-size: 1vw;
  font-weight: 600;
  display: inline-block;
  padding-left: 0.5vw;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}

.info_card p.country {
  font-size: 1vw;
  background-color: var(--lightgrey);
  border: solid var(--lightgrey);
  border-radius: 0.4em;
  padding: 0em 0.5em;
  float: right;
  max-width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_card p.country > i {
  vertical-align: middle;
}

.info_card li {
  overflow: hidden;
}

.tech-stack {
  margin-top: 0.7vw;
}

.tech-stack > ul {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
}

.tech-stack li {
  font-size: 1vw;
  background-color: var(--lightgrey);
  border: solid var(--lightgrey);
  border-radius: 0.4em;
  margin-top: 0.5vw;
  text-overflow: ellipsis;
  overflow: inherit;
  padding: 0vw 1vw;
}

.info_card > a {
  font-size: 30px;
  margin: 10px;
}

.social-row {
  margin-top: -2vw;
  margin-bottom: 3vw;
}

.social-media {
  background-color: var(--lightgreen);
  border: solid var(--lightgreen);
  border-radius: 0.6em;
  margin: 0;
  display: inline-flex;
  align-items: center;
  width: 2vw;
  height: 2vw;
  padding: 0vw 1.5vw;
  justify-content: center;
}

.social-media:hover {
  background-color: var(--darkgreen);
  border: solid var(--darkgreen);
}

.social-row > a:hover {
  text-decoration: none;
}

.social-media > i {
  font-size: 1.5vw;
  color: black;
}
