@import url("https://fonts.googleapis.com/css?family=Krub|Open+Sans|Raleway");

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}
#hero-page {
  font-family: "Krub", sans-serif;
  text-align: center;
  background: rgb(92, 67, 67);
  color: #fff;
  border: 2px solid #fff;
  padding: 2rem;
}
.cards {
  position: relative;
  display: grid;
  list-style: none;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Raleway";
}
.cards > .info_card > h5 {
  color: #333;
  font-weight: 600;
}
.cards > .info_card > p {
  color: rgb(141, 141, 141);
  font-weight: 600;
}
.cards > .info_card {
  font-weight: 600;
  text-align: center;
  padding: 20px;
  background: #fff;
  color: #333;
  box-shadow: 0 16px 48px #e3e7eb;
  border-top: 4px solid #5aff62;
}
.info_card > a {
  font-size: 30px;
  margin: 10px;
}
.tech-stack > ul {
  text-align: left;
}
.tech-stack > ul > li {
  list-style: none;
}

@media only screen and (max-width: 1040px) {
  .cards {
    grid-template-columns: 2fr 50%;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
